<html>
<body style="background-color:powderblue;color:magenta;font-family:courier;">
<br>
<br>
<br>
<br>
<form action="download" method="post" style="text-align:center;">
    <h1>Artist</h1>
    <input type="text" name="artist" value="Artist">
    <h1>Album</h1>
    <input type="text" name="album" value="Album">
    <h1>Move to HD Afterwards?</h1>
    <input type="radio" name="hd" value="y">Yes
    <input type="radio" name="hd" value="n" checked>No
    <h1>Playlist's URL</h1>
    <input type="text" name="url" value="URL">
    <br>
    <br>
    <input type="submit" name="Submit">
</form>
</body>
</html>
